@use 'sass:map';
@use './variables' as variables;

@mixin flex-center($direction: row, $align: center, $justify: center) {
    display: flex;
    align-items: $align;
    flex-direction: $direction;
    justify-content: $justify;
}

@mixin respond($size) {
    @media screen and (max-width: map.get(variables.$breakpoints, $size)) {
        @content;
    }
}
