$white: rgba(255, 255, 255, 1);
$yellow: rgba(240, 234, 110, 1);
$orange: rgba(243, 131, 45, 1);
$blue: rgba(9, 127, 197, 1);

$codeVibeThemeColor: rgba(48, 49, 49, 1);
$gamingThemeColor: rgba(41, 79, 96, 1);
$DAprojectsThemeColor: rgba(30, 117, 148, 1);
$foodThemeColor: rgba(243, 131, 45, 1);

$interactiveButtonColor: rgba(219, 219, 214, 1);
$navBarColor: rgba(246, 246, 246, 1);

$contentMaxWidth: 1440px;

$breakpoints: (
    sm1100: 1100px,
    sm940: 940px,
    sm720: 720px,
    sm600: 600px,
    sm480: 480px,
);
