@use '../abstract/variables' as variables;
@use '../abstract/mixin' as mixin;

.game-screen {
    background-color: variables.$codeVibeThemeColor;

    &__container {
        @include mixin.flex-center(column, center, flex-start);
        padding: 41px;
    }

    header {
        width: 100%;
    }
}
