@use '../abstract/variables' as variables;
@use '../abstract/function' as fct;
@use '../abstract/mixin' as mixin;

.home-screen {
    background-color: variables.$white;

    &__container {
        padding: 80px;
    }

    &__title {
        font-size: fct.px-to-rem(54);
        font-family: 'RedRose';
    }

    &__title-border {
        margin: -10px 0 56px -24px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__settings {
        @include mixin.flex-center(column, flex-start, flex-start);
        font-family: 'Almarai';
    }

    &__option-group {
        @include mixin.flex-center(column, flex-start, flex-start);
        gap: 12px;

        &:last-child {
            .home-screen__option {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__option-title {
        @include mixin.flex-center(row, center, flex-start);
        gap: 8px;
        margin-bottom: 16px;
        margin-left: -24px;
        font-size: fct.px-to-rem(24);
        font-weight: 700;
    }

    &__option {
        @include mixin.flex-center(row, center, center);
        gap: 10px;
        padding-left: 16px;
        cursor: pointer;
        font-size: fct.px-to-rem(20);
        position: relative;
        width: fit-content;
        transition: 0ms;

        &:hover {
            font-weight: 700;
        }

        &:last-child {
            margin-bottom: 54px;
        }

        &:has(input[type="radio"]:checked) {
            font-weight: 700;

            .home-screen__option-indicator {
                display: block;
            }
        }

        &-indicator {
            display: none;
            width: 50px;
            height: 18px;
            flex: 0 0 auto;
        }

        input[type="radio"] {
            transition: 0ms;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 3px solid variables.$codeVibeThemeColor;
            border-radius: 50%;
            cursor: pointer;
            
            &:checked {
                background: radial-gradient(circle, variables.$codeVibeThemeColor 21%, transparent 34%);
                border: 2px solid variables.$codeVibeThemeColor;
            }

            &:focus-visible {
                outline: 2px solid variables.$yellow;
                outline-offset: 3px;
            }
        }
    }

    &__preview {
        @include mixin.flex-center(column, flex-end, space-between);
    }

    &__footer {
        @include mixin.flex-center(row, center, center);
        background-color: variables.$navBarColor;
        height: 88px;
        padding: 14px 20px;
        gap: 16px;
        font-family: 'Almarai';
        transition: background-color 180ms ease-in-out, height 180ms ease-in-out;
    }

    &__footer-info {
        text-align: center;
        white-space: nowrap;
        transition: opacity 120ms ease-in-out;
    }

    &__footer-info--changing {
        opacity: 0;
    }

    &__footer-separator {
        width: 27px;
        height: 56px;
        flex: 0 0 auto;
        transition: width 180ms ease-in-out, height 180ms ease-in-out;
    }

    &__footer-separator-default,
    &__footer-separator-active {
        transition: opacity 180ms ease-in-out;
    }

    &__footer-separator-active {
        opacity: 0;
    }

    &__footer-separator--active {
        width: 37px;
        height: 60px;

        .home-screen__footer-separator-default {
            opacity: 0;
        }

        .home-screen__footer-separator-active {
            opacity: 1;
        }
    }

    &__footer-button {
        @include mixin.flex-center(row, center, flex-start);
        background-color: variables.$interactiveButtonColor;
        font-size: fct.px-to-rem(20);
        font-family: 'RedRose';
        gap: 8px;
        padding: 14px 20px;
        cursor: default;

        svg {
            width: 20px;
            height: 16px;
        }

        &:not(:disabled) {
            background-color: variables.$yellow;
            cursor: pointer;

            &:hover {
                padding: 16px 22px;

                svg {
                    width: 30px;
                    height: 30px;
                    transform: rotate(-5.33deg);
                }
            }
        }
    }
}
