@use '../abstract/variables' as variables;
@use '../abstract/function' as fct;
@use '../abstract/mixin' as mixin;

.home-screen {
    background-color: variables.$white;
    max-width: 1440px;
    width: 100%;
    padding: 80px;

    &__title {
        font-size: fct.px-to-rem(54);
        font-family: 'RedRose';
    }

    &__title-border {
        margin: -10px 0 56px -24px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__settings {
        @include mixin.flex-center(column, flex-start, flex-start);
        font-family: 'Almarai';
    }

    &__option-group {
        @include mixin.flex-center(column, flex-start, flex-start);
        gap: 12px;

        &:last-child {
            .home-screen__option {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    &__option-title {
        @include mixin.flex-center(row, center, flex-start);
        gap: 8px;
        margin-bottom: 16px;
        margin-left: -24px;
        font-size: fct.px-to-rem(24);
        font-weight: 700;
    }

    &__option {
        @include mixin.flex-center(row, center, center);
        gap: 10px;
        padding-left: 16px;
        cursor: pointer;
        font-size: fct.px-to-rem(20);
        position: relative;
        width: fit-content;
        transition: 0ms;

        &:hover {
            font-weight: 700;
        }

        &:last-child {
            margin-bottom: 54px;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            opacity: 0;
            pointer-events: none;
        }

        &::after {
            left: calc(100% + 12px);
            width: 41px;
            height: 3px;
            background-color: variables.$yellow;
            transform: translateY(-50%);
        }

        &::before {
            left: calc(100% + 46px);
            width: 14px;
            height: 14px;
            background-color: variables.$yellow;
            transform: translateY(-50%) rotate(45deg);
        }

        &:has(input[type="radio"]:checked) {
            font-weight: 700;

            &::after,
            &::before {
                opacity: 1;
            }
        }

        input[type="radio"] {
            transition: 0ms;
            appearance: none;
            width: 20px;
            height: 20px;
            border: 3px solid variables.$codeVibeThemeColor;
            border-radius: 50%;
            cursor: pointer;
            
            &:checked {
                background: radial-gradient(circle, variables.$codeVibeThemeColor 21%, transparent 34%);
                border: 2px solid variables.$codeVibeThemeColor;
            }

            &:focus-visible {
                outline: 2px solid variables.$yellow;
                outline-offset: 3px;
            }
        }
    }

    &__preview {
        @include mixin.flex-center(column, flex-end, space-between);
    }

    &__footer {
        @include mixin.flex-center(row, center, center);
        background-color: variables.$navBarColor;
        padding: 14px 20px;
        gap: 16px;
        font-family: 'Almarai';
    }

    &__footer-button {
        @include mixin.flex-center(row, center, center);
        background-color: variables.$interactiveButtonColor;
        font-size: fct.px-to-rem(20);
        font-family: 'RedRose';
        gap: 8px;
        padding: 14px 20px;
    }
}
