@use '../abstract/mixin' as mixin;

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    // background-color: transparent;
    border: none;
    outline: none;
    transition: 250ms ease-in-out;
}

body {
    @include mixin.flex-center(column, center, center);
}

button {
    cursor: pointer;
}