* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
}

button {
    cursor: pointer;
}
